extends layout
block content
    header.w3-container.w3-indigo
        h1.w3-center Sem autorização
    .w3-container
        p.w3-text-red Não tem autorização para aceder ao serviço de email.
        p.w3-text-red Aceda ao seguinte website para obter um token autorizado:
        a(href='http://localhost:3001') Serviço de autorização
    br
    footer.w3-container.w3-indigo
        h1.w3-center Virtualização de Redes - TP1
