extends layout

block content
  header.w3-container.w3-indigo
    h1.w3-center Serviço de Autorização
  .w3-container.w3-card-4
    h2.w3-text-teal.w3-center Pedir token de acesso
    br
    if info
      p.w3-center.w3-text-green= info
    else if info_err
      p.w3-center.w3-text-red= info_err
    br
    form.w3-center(action='/users/access' method='POST')
      input.w3-input.w3-border(type='text' name='email' placeholder='Insira o seu email registado')
      input.w3-input.w3-border(type='password' name='password' placeholder='Insira a sua password')
      br
      input.w3-btn.w3-teal(type='submit' name='pedir' value='Pedir Token')
    br
  br  
  hr
  br
  .w3-container.w3-card-4
    h2.w3-text-teal.w3-center Registar no serviço
    br
    form.w3-center(action='/users/register' method='POST')
      input.w3-input.w3-border(type='text' name='email' placeholder='Insira o seu email de registo')
      input.w3-input.w3-border(type='password' name='password' placeholder='Insira a sua password')
      input.w3-input.w3-border(type='text' name='nome' placeholder='Insira o seu primeiro e último nome')
      br
      input.w3-btn.w3-teal(type='submit' name='registar' value='Registar')
    br
  br
  footer.w3-container.w3-indigo.w3-center
    p Virtualização de Redes - TP1 2018/2019 
